<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>About Page</title>
</head>
<body>
	<section>
			<h2>Contact Page</h2>
			
			<p>I have a cure for insomnia. It’s probably worth millions of dollars but I’m giving it to you 
			free. It isn’t warm milk or chamomile tea. It’s list making. List stuff from your life like all 
			your teachers or all the live music you’ve seen or all the Paul Newman movies you’ve watched.</p>
	</section>
</body>
</html>