<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Footer Section</title>
</head>
<body>

	<footer id="fragmentTag" th:fragment="footer1(title,currDateTime)">
		<div class="container">
			<h1>About Me : <span th:text="${title}"></span></h1>
			<h1>Feel free to Contact With Me</h1>
			<a href="https://rish2408.github.io/">Gallery</a>
			<h1>Current Date and Time : <span th:text="${currDateTime}"></span></h1>
			
		</div>
	</footer>

</body>
</html>